<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <input ng-model="searchTerm">

      <ul>
        <li ng-repeat="match in matches">{{match}}</li>
      </ul>

      <div ng-repeat="(facetGroupTitle, facetGroup) in searchresult.facets">
        <b>{{facetGroupTitle}}</b>
        <ul class="list-unstyled">
          <li ng-repeat="pair in facetGroup">
            <a ng-hide="{{pair.active}}"
               ng-href="{{getFilterUrl(facetGroupTitle, pair, searchresult.query.filter)}}">
              {{pair.key}} ({{pair.value}})
            </a>
            <span ng-show="{{pair.active}}">
              {{pair.key}} ({{pair.value}})
              <a href="{{getUnFilterUrl(facetGroupTitle, pair)}}"
                 style="color:#d9534f">
                [remove]
              </a>
            </span>
          </li>
        </ul>
      </div>

      </p>

    </div>


    <div class="col-md-10">
      <!--Body content-->

      <ul class="searches">
        <li ng-repeat="search in searchresult.hits"
            class="thumbnail search-listing">
          <p>{{search.document.title}}</p>
          <p>{{search.document.date}}</p>
          <p>{{search.document.id}}</p>
          <p>{{search.document.teaser}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
