<form id="login" ng-submit="login()">
    <input type="text" ng-model="username">
    <input type="password" ng-model="password">
    <input type="submit">
</form>
<div class="container-fluid">

  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <input type="text" ng-model="searchTerm" class="input-lg"
             typeahead="suggestion for suggestion in matcher($viewValue)"
             typeahead-on-select="onSelect($item)">

      <br><br><br><br>

      <div ng-repeat="facetGroup in searchresult.facets track by $index">
        <b>{{facetGroup.key}}</b>
        <ul class="list-unstyled">
          <li ng-repeat="pair in facetGroup.value track by $index">
            <a ng-hide="{{pair.active}}"
               ng-href="{{getFilterUrl(facetGroup, pair, searchresult.query)}}">
              {{pair.key}} ({{pair.value}})
            </a>
            <span ng-if="pair.active == true">
              {{pair.key}} ({{pair.value}})
              <a href="{{getUnFilterUrl(facetGroup, pair, searchresult.query)}}"
                 style="color:#d9534f">
                [remove]
              </a>
            </span>
          </li>
        </ul>
      </div>
    </div>


    <div class="col-md-10">
      <!--Body content-->

      <ul class="searches">
        <li ng-repeat="search in searchresult.hits track by $index"
            class="thumbnail search-listing">
<!--
          <h5>{{search.document.docty}}</h5>
          <p>{{search.document.borrower}}</p>
          <p>{{search.document.approvalfy}}</p>
-->
          <pre>{{search.document}}</pre>
        </li>
      </ul>

    </div>
  </div>
</div>

